:root { --color-neutral: 164, 138, 226; /*Main background in light mode */
  --color-neutral-50:     161,150,187; /* # and ## text in blogs dark mode */
  --color-neutral-100:    144, 118, 206; /* TOC in light mode, TOC text in dark mode */
  --color-neutral-200:    203,196,217;
  --color-neutral-300:    161,150,187; /*Blog paragraph text and author name in dark mode */
  --color-neutral-400:    119,103,157;
  --color-neutral-500:    65,56,87;
  --color-neutral-600:    65,56,87;
  --color-neutral-700:    47,40,62;
  --color-neutral-800:    28,24,37; /*Main background in dark mode */
  --color-neutral-900:    9,8,13;
  --color-primary-50:     255,255,255;
  --color-primary-100:    255,255,255;
  --color-primary-200:    255,255,255;
  --color-primary-300:    246,246,246;
  --color-primary-400:    158,08,208; /*Links in dark mode */
  --color-primary-500:    170,170,170;
  --color-primary-600:    120,30,120; /*Links in light mode */
  --color-primary-700:    129,129,129;
  --color-primary-800:    109,109,109;
  --color-primary-900:    88,88,88;
  --color-secondary-50:     229,226,237;
  --color-secondary-100:    187,179,207;
  --color-secondary-200:    145,132,178;
  --color-secondary-300:    105,90,143;
  --color-secondary-400:    145,132,177; /*Small code block text `code` in dark mode */
  --color-secondary-500:    36,31,49;
  --color-secondary-600:    18,15,24;
  --color-secondary-700:    0,0,0; 
  --color-secondary-800:    0,0,0;
  --color-secondary-900:    0,0,0;
  }